<div class="panel panel-default">
    <div class="panel-body">
        <h5>Your profile</h5>
        <p>Personal Information</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h5>Settings</h5>
        <p>Manage account settings</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h5>Adds</h5>
        <p>Manage your adds</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h5>Notifications</h5>
        <p>Check your notifications</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h5>Activity</h5>
        <p>Comments, likes, adds</p>
    </div>
</div>