body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/


/*.dl-horizontal dt {
    white-space: normal;
}*/

.form-max-width input, .form-max-width select, .form-max-width textarea {
    max-width: 280px;
}

.inline-block {
    display: inline-block;
}

.sort-ads-list {
    color: #555555;
	font-size: 1em;
    list-style: none;
    padding: 0;
    margin-left: 1.5em;
}

.sort-ads-list li {
    display: inline-block;
    margin-right: 6px;
}

.sort-ads-list li label {
    cursor: pointer;
}

.sort-text-li {
    font-size: 18px;
}

.category-bg {
	margin-top: 10px;
	background: #ECECEC;
	padding: 10px 20px;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 0;
	font-size:16px;
}

.categories-checkbox {   
    margin-top: 20px;
    margin-left: 20px;
}
 
.wrap-box {
    background: url('Images/Home/strip-blue.png');
    padding: 2px;  
}

.ad-content-div {
    width: 250px;
    margin-right: 20px;
    margin-bottom: 50px;
    border: 5px solid #ebebeb;
    padding: 10px 10px 0 10px;
}

.ad-content-div:hover{
	border: 5px solid #A0CBFF;
}

.ad-content-div a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.ad-content-div p span.glyphicon span {
    margin-left: 3px;
}

.ad-content-div p span.glyphicon {
    margin-right: 10px;
}

.ad-content-div img {
    width: 250px;
    height: 150px;
}

.ad-price {
    font-size: 16px;
    font-weight: bold;
}

.ad-created-date {
    float: right;
}

#SpinnerGif {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}

#CreateAdForm {
    margin-top: 30px;
}

#CreateAdForm input[type="file"] {
    margin-top: 6px;
}

#CreateAdForm input[type="text"], #CreateAdForm textarea, #CreateAdForm select {
    width: 100%;
    margin-top: 20px;
}

#CreateAdForm textarea {
    resize: none;
    height: 200px;
}