body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/


/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
 
.wrap-box {
    background: url('Images/Home/strip-blue.png');
    padding: 2px;
     
}

.topAd {
    width: 270px;
    margin-right: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 10px 0 10px;
}

.topAd p span.glyphicon span {
    margin-left: 3px;
}

.topAd p span.glyphicon {
    margin-right: 10px;
}

.topAd img {
    width: 250px;
    height: 150px;
}

.adPrice {
    font-size: 16px;
    font-weight: bold;
}

.adCreatedDate {
    float: right;
}
