body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/


/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
 
.wrap-box {
    background: url('Images/Home/strip-blue.png');
    padding: 2px;  
}

.ad-content-div {
    width: 270px;
    margin-right: 20px;
    margin-bottom: 50px;
    border: 5px solid #ebebeb;
    padding: 10px 10px 0 10px;
}

.ad-content-div:hover{
	border: 5px solid #A0CBFF;
}

.ad-content-div a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.ad-content-div p span.glyphicon span {
    margin-left: 3px;
}

.ad-content-div p span.glyphicon {
    margin-right: 10px;
}

.ad-content-div img {
    width: 250px;
    height: 150px;
}

.ad-price {
    font-size: 16px;
    font-weight: bold;
}

.ad-created-date {
    float: right;
}

.inline-list{
    color:#555555;
	font-size:1em;
    list-style:none;
    padding: 0;
    margin-left: 1.5em;
}

.inline-list li{
    display: inline-block;
}