@using System.Globalization

@using MyMarket.Web.Models.Comments

@model CommentViewModel

<div id="Comment-@Model.Id">
    <span class="comment-title">@Model.Username</span>

    @if (Model.Username == this.User.Identity.Name)
    {
        <span class="eidt-delete-comment">
            @*<a data-ajax="true"
               data-ajax-method="POST"
               data-ajax-mode="replace"
               data-ajax-update="#Comments"
               href="/Comments/Delete?id=@Model.Id">
                <span class="glyphicon glyphicon-edit edit-comment" title="Update" data-toggle="modal" data-target="#myModal"></span>*@
            @*</a>*@

            <span class="glyphicon glyphicon-remove-circle" title="Delete" data-id="@Model.Id"></span>
        </span>
    }

    <div>
        @if (!string.IsNullOrEmpty(Model.Username))
        {
            <span class="glyphicon glyphicon-calendar comment-date"></span>
            @Model.Date.ToString("dd/MMMM/yyyy HH:mm", CultureInfo.InvariantCulture)

            <p class="comment-content">@Model.Content</p>
        }
    </div>
</div>